{% extends 'base.html' %}

{% block body %}
    <div class="text-center adjustment-bottom fst-italic">
        <h2>Home Page</h2>
    </div>
    <div class="shadow p-5 mb-5 bg-body-tertiary rounded ">

        {% if current_user.is_authenticated %}
            {% if context.balances %}
                <div class="row ">
                    {% for balance in context.balances %}
                        <div class="col-lg-4 card-style">
                            <div class="border card-content">
                                <h2>{{ balance.coin }}</h2>
                                <div>
                                    Amount: {{ balance.amount }}
                                </div>
                                <div>
                                    Value: {{ balance.value }}
                                </div>
                                <a class="btn btn-outline-danger" href="{{ url_for('blueprint.delete_balance', balance_id=balance.id)}}">Delete</a>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h1>Let's add our first balance $$$</h1>
            {% endif %}
        {% else %}
            <h1>Join US :)</h1>
        {% endif %}

    </div>
{% endblock %}
