<div class="sidenav fst-italic">
    <a href="{{ url_for('blueprint.home')}}" class="animation-text">Home</a>
    {% if current_user.is_authenticated %}
        <a href="{{ url_for('blueprint.add_balance')}}" class="animation-text">Add Coin</a>
        <a href="{{ url_for('blueprint.logout')}}" class="animation-text">Logout</a>
    {% else %}
        <a href="{{ url_for('blueprint.login')}}" class="animation-text">Login</a>
    {% endif %}
    <div class="credentials fst-italic">
        <p>Sheredko Limited</p>
    </div>
</div>
